#filterbar {
	position: absolute;
	width: 250px;
	min-height: 100%;
	top: 70px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
#statisticbar {
	position: absolute;
	width: 250px;
	height: calc(100% - 70px);
	top: 70px;
	bottom: 0;
	right: 0;
	z-index: 1000;
	padding: 10px;
	overflow: hidden;
}
.content-block {
	position: absolute;
	left: 250px;
	right: 250px;
	top: 70px;
	bottom: 0;
	padding: 10px;
	height: calc(100% - 70px);
	.actions {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.column-sort {
		text-decoration: none;
	}
}
#records {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	width: 100%;
	height: calc(100% - 100px);
	overflow: hidden;
}
.editable {
	border-bottom: 1px dashed grey;
}
.custom-toast {
	position: absolute;
	bottom: 100px;
	left: 50%;
	background-color: #355e3b;
	color: #f9f9f9;
}