.navbar {
  background: #355e3b !important;
}
.navbar-inverse {
  border: none !important;
}
.navbar-brand {
  color: #d3d3d3 !important;
  margin: 0 !important;
  font-size: 24px !important;
  line-height: 40px !important;
  height: 70px !important;
  text-transform: uppercase;
}
